html {
  font-family: Georgia, "Times New Roman", Times, serif !important;
  width: 100%;
  overflow-x: hidden;
}

.App-logo {
  /* height: 5vmin; */
  
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 8s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.App-header-background {
  background: center no-repeat url("./assets/images/green-pink-leaves.jpg");
  min-height: 85vh;
  /* color: #2e7c3870; */
  /* color: rgba(83, 134, 143, 0.685); */
  color: rgb(100, 14, 100);
}
