html {
  overflow-x: hidden;
  width: 100%;
}

body {
  background-color: #e5e5e5 !important; /* these overrides are because of bootstrap and not wantint to make a "shame.css" or some other override*/
  color: blanchedalmond;
  font-family: Courier Prime !important;
  font-style: normal !important;
  /* overflow-x: hidden !important; */
  width: 100%;
}

h1 {
  /* PHOEBX */
  width: 289px !important;
  height: 37px !important;
  left: 102px !important;
  top: 59px !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 64px !important;
  line-height: 30px !important;
  /* or 33% */
  /* color: #40b61c; */
  color: #1cb636;
  /* color: #d82c82d3 !important; */
  /* color: burlywood; */
}

.first-page-background {
  background-image: url(../src/assets/images/ocean.svg),
    url(../src/assets/images/tree-overlook.svg),
    url(../src/assets/images/water-covered-tree.svg),
    url(../src/assets/images/inlet.svg);
  background-position: right bottom, left top, left bottom, center center;
  background-repeat: no-repeat;
  height: 95vh;
}

.nav-item {
  /* li items */
  /* navbar */
  width: 504px !important;
  height: 33px !important;
  left: 436px !important;
  top: 59px !important;
  font-weight: bold !important;
  font-size: 36px;
  line-height: 21px;
  /* or 58% */

  color: #d82c82d3 !important;
  /* color: #f82ae3 !important; */
  /* color: burlywood; */
}

.App-header-background {
  background: center no-repeat url("./assets/images/green-pink-leaves.jpg");
  min-height: 85vh;
  /* color: #2e7c3870; */
  /* color: rgba(83, 134, 143, 0.685); */
  /* color: rgb(100, 14, 100); */
}
